<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8" />
    <title>PureParadise</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    

    <!-- CSS
  ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ MEDIA_URL }}styles/skeleton.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}styles/style.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}styles/inner.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}styles/color.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}styles/layout.css" />
    

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico" />
    <link rel="apple-touch-icon" href="{{ MEDIA_URL }}images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ MEDIA_URL }}images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ MEDIA_URL }}images/apple-touch-icon-114x114.png" />
    
    
</head>


<body>
<div id="bodychild">
    <div id="outercontainer">
    
       <!-- HEADER -->
        <div id="outerheader">
            <div class="container">
            <header id="top" class="twelve columns">
                <div id="logo"  class="four columns alpha"><h1><a href="index"><span class="titleBold">All American </span><span class="colortext">Vinyl</span></a></h1><h3>of Utah</h3></div>
                <div style="float:right" id="phone"><h2><span class="colortext">Phone: </span> <span>(801) 373-1308 </span></h2></div>

                <section id="navigation" class="eight columns omega">
			{% include 'topnav.html'%}
                    <div class="clear"></div>
                </section>
                <div class="clear"></div>
            </header>
            </div>
        </div>
        <!-- END HEADER -->
        
        <!-- AFTER HEADER -->
        <div id="outerafterheader">
            <div class="container">
                <div class="twelve columns" id="afterheader">
                    <section id="aftertheheader">
                     <span class="pagedesc"><span class="colortext">Our</span> Products</span>                  
                     <div class="clear"></div>
                    </section>
                </div>
            </div>
        </div>
        <!-- END AFTER HEADER -->

        <!-- MAIN CONTENT -->
        <div id="outermain">
            <div class="container">
            <section id="maincontent" class="twelve columns">
               
                
                <div class="ts-display-properties">
                    <ul class="property-items">
                        <li>
                            <img class="product" src="{{ MEDIA_URL }}images/google_vinyl_fence.jpg" alt="" />
                            <div class="padcolumn">
                                <h5>White Vinyl Fence </h5>
                                <ul class="box_text">
                                    <li><span class="left">Height: </span><span class="right"> 5ft</span></li>
                                    <li><span class="left">Width: </span><span class="right">8ft</span></li>
                                </ul>
                            
                                <div class="pricebutton">
                                    <span class="price">$35/ft</span>
                                </div>
                            </div>
                        </li>
                    
                        <li>
                            <img class="product" src="{{ MEDIA_URL }}images/google_picket_fence.jpg" alt="" />
                            <div class="padcolumn">
                                <h5>Picket Vinyl Fence </h5>
                                <ul class="box_text">
                                    <li><span class="left">Height: </span><span class="right"> 4ft</span></li>
                                    <li><span class="left">Width: </span><span class="right">7ft</span></li>
                                </ul>
                            
                                <div class="pricebutton">
                                    <span class="price">$15/ft </span>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <img class="product" src="{{ MEDIA_URL }}images/google_aluminium_fence.jpeg" alt=""/>
                            <div class="padcolumn">
                                <h5>Aluminium Fence</h5>
                                <ul class="box_text">
                                    <li><span class="left">Height: </span><span class="right">8ft</span></li>
                                    <li><span class="left">Width: </span><span class="right">10ft</span></li>
                                </ul>
                            
                                <div class="pricebutton">
                                    <span class="price">$25/ft </span>
                                </div>
                            </div>
                        </li>
                    
                        <li class="nomargin">
                            <img class="product" src="{{ MEDIA_URL }}images/google_chainlink.jpg" alt=""/>
                            <div class="padcolumn">
                                <h5>Chainlink Fence</h5>
                                <ul class="box_text">
                                    <li><span class="left">Height: </span><span class="right"> 5ft</span></li>
                                    <li><span class="left">Width: </span><span class="right">8ft</span></li>
                                </ul>
                            
                                <div class="pricebutton">
                                    <span class="price">$35/ft </span>
                                </div>
                            </div>
                        </li>
                     </ul>                

                <div class="separator"></div>
                     <ul class="property-items">
                        <li>
                            <img class="product" src="{{ MEDIA_URL }}images/google_vinyl_fence.jpg" alt="" />
                            <div class="padcolumn">
                                <h5>White Vinyl Fence </h5>
                                <ul class="box_text">
                                    <li><span class="left">Height: </span><span class="right"> 5ft</span></li>
                                    <li><span class="left">Width: </span><span class="right">8ft</span></li>
                                </ul>
                            
                                <div class="pricebutton">
                                    <span class="price">$35/ft</span>
                                </div>
                            </div>
                        </li>
                    
                        <li>
                            <img class="product" src="{{ MEDIA_URL }}images/google_picket_fence.jpg" alt="" />
                            <div class="padcolumn">
                                <h5>Picket Vinyl Fence </h5>
                                <ul class="box_text">
                                    <li><span class="left">Height: </span><span class="right"> 4ft</span></li>
                                    <li><span class="left">Width: </span><span class="right">7ft</span></li>
                                </ul>
                            
                                <div class="pricebutton">
                                    <span class="price">$15/ft </span>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <img class="product" src="{{ MEDIA_URL }}images/google_aluminium_fence.jpeg" alt=""/>
                            <div class="padcolumn">
                                <h5>Aluminium Fence</h5>
                                <ul class="box_text">
                                    <li><span class="left">Height: </span><span class="right">8ft</span></li>
                                    <li><span class="left">Width: </span><span class="right">10ft</span></li>
                                </ul>
                            
                                <div class="pricebutton">
                                    <span class="price">$25/ft </span>
                                </div>
                            </div>
                        </li>
                    
                        <li class="nomargin">
                            <img class="product" src="{{ MEDIA_URL }}images/google_chainlink.jpg" alt=""/>
                            <div class="padcolumn">
                                <h5>Chainlink Fence</h5>
                                <ul class="box_text">
                                    <li><span class="left">Height: </span><span class="right"> 5ft</span></li>
                                    <li><span class="left">Width: </span><span class="right">8ft</span></li>
                                </ul>
                            
                                <div class="pricebutton">
                                    <span class="price">$35/ft </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                
                 <div class="separator"></div>
                     <ul class="property-items">
                        <li>
                            <img class="product" src="{{ MEDIA_URL }}images/google_vinyl_fence.jpg" alt="" />
                            <div class="padcolumn">
                                <h5>White Vinyl Fence </h5>
                                <ul class="box_text">
                                    <li><span class="left">Height: </span><span class="right"> 5ft</span></li>
                                    <li><span class="left">Width: </span><span class="right">8ft</span></li>
                                </ul>
                            
                                <div class="pricebutton">
                                    <span class="price">$35/ft</span>
                                </div>
                            </div>
                        </li>
                    
                        <li>
                            <img class="product" src="{{ MEDIA_URL }}images/google_picket_fence.jpg" alt="" />
                            <div class="padcolumn">
                                <h5>Picket Vinyl Fence </h5>
                                <ul class="box_text">
                                    <li><span class="left">Height: </span><span class="right"> 4ft</span></li>
                                    <li><span class="left">Width: </span><span class="right">7ft</span></li>
                                </ul>
                            
                                <div class="pricebutton">
                                    <span class="price">$15/ft </span>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <img class="product" src="{{ MEDIA_URL }}images/google_aluminium_fence.jpeg" alt=""/>
                            <div class="padcolumn">
                                <h5>Aluminium Fence</h5>
                                <ul class="box_text">
                                    <li><span class="left">Height: </span><span class="right">8ft</span></li>
                                    <li><span class="left">Width: </span><span class="right">10ft</span></li>
                                </ul>
                            
                                <div class="pricebutton">
                                    <span class="price">$25/ft </span>
                                </div>
                            </div>
                        </li>
                    
                        <li class="nomargin">
                            <img class="product" src="{{ MEDIA_URL }}images/google_chainlink.jpg" alt=""/>
                            <div class="padcolumn">
                                <h5>Chainlink Fence</h5>
                                <ul class="box_text">
                                    <li><span class="left">Height: </span><span class="right"> 5ft</span></li>
                                    <li><span class="left">Width: </span><span class="right">8ft</span></li>
                                </ul>
                            
                                <div class="pricebutton">
                                    <span class="price">$35/ft </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div><!-- clear float --> 
            </section>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
        
        <!-- FOOTER SIDEBAR -->
        <div id="outerfootersidebar">
            <div class="container">
                <div id="footersidebarcontainer" class="twelve columns"> 
                    <footer id="footersidebar">
                    <div class="center">
                        Address:
                        450 South 1100 West 
                        Provo, Utah 84601 
                        <br>
                        Phone: 801-874-3191 
                        Alt. Phone: 801-373-1308 
                        Fax: 801-373-3692 
                        <br>
                        Email: <a href="mailto:allamericanvinyl@gmail.com">allamericanvinyl@gmail.com</a>
                    </div>
                    </footer>
                </div>
            </div>
        </div>
        <!-- END FOOTER SIDEBAR -->

    </div><!-- end outercontainer -->
</div><!-- end bodychild -->

        
        <!-- FOOTER -->
        <div id="outerfooter">
            <div class="container">
                <div id="footercontainer" class="twelve columns">
                    <footer id="footer">Copyright &copy; All American Vinyl LLC, 2012. All rights reserved. 
                </footer>
                </div>
            </div>
        </div>
        <!-- END FOOTER -->

<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/jquery-easing-1.3.js"></script>

<!-- jQuery Superfish -->
<script type="text/javascript" src="js/hoverIntent.js"></script> 
<script type="text/javascript" src="js/superfish.js"></script> 
<script type="text/javascript" src="js/supersubs.js"></script>

<!-- jQuery Dropdown Mobile -->
<script type="text/javascript" src="js/tinynav.min.js"></script>

<!-- Custom Script -->
<script type="text/javascript" src="js/custom.js"></script>


</body>
</html>
