<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>PureParadise</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    

	<!-- CSS
  ================================================== -->
  	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="styles/skeleton.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/inner.css" />
    <link rel="stylesheet" href="styles/color.css" />
	<link rel="stylesheet" href="styles/layout.css" />
    

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
    
    
</head>


<body>
<div id="bodychild">
	<div id="outercontainer">
    
        <!-- HEADER -->
        <div id="outerheader">
        	<div class="container">
            <header id="top" class="twelve columns">
            	<div id="logo"  class="three columns alpha"><h1><a href="index.html"><span class="titleBold">Pure</span><span class="colortext">Paradise</span></a></h1></div>
                <section id="navigation" class="nine columns omega">
                    <nav id="nav-wrap">
                        <ul id="topnav" class="sf-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a>
                            	<ul>
                                	<li><a href="element.html">Elements</a></li>
                                    <li><a href="single.html">Blog Details</a></li>
                                    <li><a href="property-detail.html">Property Details</a></li>
                                </ul>
                            </li>
                            <li><a href="property-grid.html">Property</a></li>
                            <li><a href="#">Portfolio</a>
                            	<ul>
                                	<li><a href="portfolio2.html">Portfolio 2 Column</a></li>
                                    <li><a href="portfolio3.html">Portfolio 3 Column</a></li>
                                    <li><a href="portfolio4.html">Portfolio 4 Column</a></li>
                                </ul>
                            </li>
                            <li class="current"><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul><!-- topnav -->
                    </nav><!-- nav -->	
                    <div class="clear"></div>
                </section>
                <div class="clear"></div>
            </header>
            </div>
        </div>
        <!-- END HEADER -->
 
        <!-- AFTER HEADER -->
		<div id="outerafterheader">
            <div class="container">
                <div class="twelve columns" id="afterheader">
                    <section id="aftertheheader">
                     <h1 class="pagetitle"><span>Blog</span></h1>
                     <span class="pagedesc">The latest <span class="colortext"> updates</span></span>                      
                     <div class="clear"></div>
                    </section>
                </div>
            </div>
        </div>
        <!-- END AFTER HEADER -->
        
        <!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
        	<section id="maincontent" class="twelve columns">
            
				<section id="content" class="nine columns positionleft alpha">
                	<div class="padcontent">
                    
                        <article class="post">
                            <div class="postimg"><img src="images/content/post1.jpg" alt=""/></div>            
                            <h2 class="posttitle"><a href="single.html">Donec vulputate velit ut turpis vehicula pulvinar.</a></h2>
                            <div class="entry-utility">
                                Posted by <a href="#">tsdemo</a> on  September 05, 2012&nbsp;&nbsp;/&nbsp;&nbsp;in <a href="#">Blog</a>, <a href="#" >House Remodeling</a>, 
                                <a href="#">Modern Home</a>&nbsp;&nbsp;/&nbsp;&nbsp;<span class="commoff">Comments off</span>          
                            </div>
                                          
                            <div class="entry-content">
                                 <p>Pellentesque pellentesque rhoncus purus ut ultrices. Maecenas ac quam nec sapien gravida lobortis id vitae magna. 
                                 Praesent commodo nulla tristique odio tristique eu semper tellus blandit. Curabitur molestie, augue sed dignissim fermentu justo orci faucibus nisi, 
                                 non consequat nunc turpis a felis.</p>
                                 <a href="single.html" class="more-link">Read More</a>
                            </div>  
                        </article><!-- end post -->
                        
                        <article class="post">
                            <div class="postimg"><img src="images/content/post2.jpg" alt=""/></div>            
                            <h2 class="posttitle"><a href="single.html">Sed sodales nisi id enim vestibulum.</a></h2>
                            <div class="entry-utility">
                                Posted by <a href="#">tsdemo</a> on  September 05, 2012&nbsp;&nbsp;/&nbsp;&nbsp;in <a href="#">Blog</a>, <a href="#" >House Remodeling</a>, 
                                <a href="#">Modern Home</a>&nbsp;&nbsp;/&nbsp;&nbsp;<span class="commoff">Comments off</span>            
                            </div>
                                          
                            <div class="entry-content">
                                 <p>Pellentesque pellentesque rhoncus purus ut ultrices. Maecenas ac quam nec sapien gravida lobortis id vitae magna. 
                                 Praesent commodo nulla tristique odio tristique eu semper tellus blandit. Curabitur molestie, augue sed dignissim fermentu justo orci faucibus nisi, 
                                 non consequat nunc turpis a felis.</p>
                                 <a href="single.html" class="more-link">Read More</a>
                            </div>  
                        </article><!-- end post -->
                        
                        <article class="post">
                            <div class="postimg"><img src="images/content/post3.jpg" alt=""/></div>            
                            <h2 class="posttitle"><a href="single.html">Aenean non magna in ligula tempor.</a></h2>
                            <div class="entry-utility">
                                Posted by <a href="#">tsdemo</a> on  September 05, 2012&nbsp;&nbsp;/&nbsp;&nbsp;in <a href="#">Blog</a>, <a href="#" >House Remodeling</a>, 
                                <a href="#">Modern Home</a>&nbsp;&nbsp;/&nbsp;&nbsp;<span class="commoff">Comments off</span> 
                            </div>
                                          
                            <div class="entry-content">
                                 <p>Pellentesque pellentesque rhoncus purus ut ultrices. Maecenas ac quam nec sapien gravida lobortis id vitae magna. 
                                 Praesent commodo nulla tristique odio tristique eu semper tellus blandit. Curabitur molestie, augue sed dignissim fermentu justo orci faucibus nisi, 
                                 non consequat nunc turpis a felis.</p>
                                 <a href="single.html" class="more-link">Read More</a>
                            </div>  
                        </article><!-- end post -->
                
                        <div class="wp-pagenavi">
                            <span class="pages">Page 1 of 3</span><a href="#" class="page">1</a><span class="current">2</span><a href="#" class="page">3</a>
                        </div>
                
                    </div>
                </section><!-- content -->
                
                <aside id="sidebar" class="three columns positionright omega">
                    <ul>
                        <li class="widget-container">
                          <h2 class="widget-title">Categories</h2>
                          <ul>
                             <li><a href="#">House Remodeling</a></li>
                             <li><a href="#">Luxury Home</a></li>
                             <li><a href="#">Find a Contractor</a></li>
                             <li><a href="#">First time Buyer</a></li>
                             <li><a href="#">Free Moving Quote</a></li>
                          </ul>
                        </li>
                        <li class="widget-container">
                          <h2 class="widget-title">Archives</h2>
                          <ul>
                              <li><a href="#">September 2012</a></li>
                              <li><a href="#">August 2012</a></li>
                              <li><a href="#">July 2012</a></li>
                              <li><a href="#">June 2012</a></li>
                              <li><a href="#">May 2012</a></li>
                          </ul>
                        </li>
                        <li class="widget-container">
                            <h2 class="widget-title">Text Widget</h2>
                            <div class="textwidget">
                            Donec blandit volutpat ipsum, ac varius nulla commodo ut. Curabitur blandit dignissim nibh sit amet placerat. Proin elementum posuere libero nec.
                            </div>                                
                        </li>
                    </ul>
				</aside><!-- sidebar -->
                <div class="clear"></div><!-- clear float --> 
            </section>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
        
        <!-- FOOTER SIDEBAR -->
        <div id="outerfootersidebar">
        	<div class="container">
                <div id="footersidebarcontainer" class="twelve columns"> 
                    <footer id="footersidebar">
                    <div id="footcol1" class="three columns alpha">
                    <ul>
                        <li class="widget-container">
                            <h2 class="widget-title"><span>About Us</span></h2>
                            <div class="textwidget">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
								<p>Nulla euismod mollis est vel posuere. Suspendisse potenti.</p>
                            </div>
                        </li>
                    </ul>
                    </div>
                    <div id="footcol2"  class="three columns">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title"><span>Latest Post</span></h2>
                                <ul class="ts-recent-post-widget">
									<li>                                                                       
                                        <img src= "images/content/post-thumb1.jpg" alt=""  class="alignleft scale-with-grid"/>                                                                        
                                        <h3><a href="#">Donec vulputate velit ut turpis vehicula pulvinar.</a></h3>             
                                        <span class="smalldate">September 05, 2012</span>              
                                        <span class="clear"></span>
                                    </li>
                                    <li>                              
                                        <img src="images/content/post-thumb2.jpg" alt=""  class="alignleft scale-with-grid"/>                                                                       
                                        <h3><a href="#"> Sed sodales nisi id enim vestibulum.</a></h3>                  
                                        <span class="smalldate">September 05, 2012</span>              
                                        <span class="clear"></span>
                                    </li>
                                 </ul>
                            </li>
                        </ul>
                    </div>
                    <div id="footcol3"  class="three columns">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title"><span>Categories</span></h2>
                                <ul>
                                    <li><a href="#">House Remodeling</a></li>
                                    <li><a href="#">Minimalist Home</a></li>
                                    <li><a href="#">Luxury Home</a></li>
                                    <li><a href="#">Modern Home</a></li>
                                    <li><a href="#">Naturalis Home</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div id="footcol4" class="three columns omega">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title"><span>Street Address</span></h2>
                                PureParadise -- Blvd No. 356-357. <br/>
                                Farmville Town, LA 12345<br/>
                                Telp: +62 500 800 123<br/>
                                Fax: +62 500 800 112<br/>
                                Email: <a href="mailto:testmail@yourdomain.com" class="colortext">testmail@yourdomain.com</a><br/>
                                Website: <a href="http://www.templatesquare.com" class="colortext">www.templatesquare.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    </footer>
                </div>
            </div>
        </div>
        <!-- END FOOTER SIDEBAR -->

	</div><!-- end outercontainer -->
</div><!-- end bodychild -->

        
        <!-- FOOTER -->
        <div id="outerfooter">
            <div class="container">
                <div id="footercontainer" class="twelve columns">
                    <footer id="footer">Copyright &copy;2011-2012 PureParadise Design by	<a href="http://templatesquare.com" title="" class="colortext">
                    TemplateSquare.com</a>
                </footer>
                </div>
            </div>
        </div>
        <!-- END FOOTER -->

<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/jquery-easing-1.3.js"></script>

<!-- jQuery Superfish -->
<script type="text/javascript" src="js/hoverIntent.js"></script> 
<script type="text/javascript" src="js/superfish.js"></script> 
<script type="text/javascript" src="js/supersubs.js"></script>

<!-- jQuery Dropdown Mobile -->
<script type="text/javascript" src="js/tinynav.min.js"></script>

<!-- Custom Script -->
<script type="text/javascript" src="js/custom.js"></script>


</body>
</html>
