<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>PureParadise</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    

	<!-- CSS
  ================================================== -->
  	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="styles/skeleton.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/inner.css" />
    <link rel="stylesheet" href="styles/flexslider.css" />
    <link rel="stylesheet" href="styles/color.css" />
	<link rel="stylesheet" href="styles/layout.css" />
    

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
    
    
</head>


<body>
<div id="bodychild">
	<div id="outercontainer">
    
        <!-- HEADER -->
        <div id="outerheader">
        	<div class="container">
            <header id="top" class="twelve columns">
            	<div id="logo"  class="three columns alpha"><h1><a href="index.html"><span class="titleBold">Pure</span><span class="colortext">Paradise</span></a></h1></div>
                <section id="navigation" class="nine columns omega">
                    <nav id="nav-wrap">
                        <ul id="topnav" class="sf-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a>
                            	<ul>
                                	<li><a href="element.html">Elements</a></li>
                                    <li><a href="single.html">Blog Details</a></li>
                                    <li><a href="property-detail.html">Property Details</a></li>
                                </ul>
                            </li>
                            <li class="current"><a href="property-grid.html">Property</a></li>
                            <li><a href="#">Portfolio</a>
                            	<ul>
                                	<li><a href="portfolio2.html">Portfolio 2 Column</a></li>
                                    <li><a href="portfolio3.html">Portfolio 3 Column</a></li>
                                    <li><a href="portfolio4.html">Portfolio 4 Column</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul><!-- topnav -->
                    </nav><!-- nav -->	
                    <div class="clear"></div>
                </section>
                <div class="clear"></div>
            </header>
            </div>
        </div>
        <!-- END HEADER -->
        
        <!-- AFTER HEADER -->
		<div id="outerafterheader">
            <div class="container">
                <div class="twelve columns" id="afterheader">
                    <section id="aftertheheader">
                     <h1 class="pagetitle"><span>$ 1,500</span></h1>
                     <span class="pagedesc">Salt Meadow Bald Head Island North Carolina  90001</span>                    
                     <div class="clear"></div>
                    </section>
                </div>
            </div>
        </div>
        <!-- END AFTER HEADER -->

        <!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
        	<section id="maincontent" class="twelve columns">
                
                <div class="nine columns alpha">      
                	<div id="propertyimage" class="flexslider">
                    	<ul class="slides">						                            
                            <li data-thumb="images/content/pr-slider/img1.jpg"><img src="images/content/pr-slider/img1.jpg" /></li>
                            <li data-thumb="images/content/pr-slider/img2.jpg"><img src="images/content/pr-slider/img2.jpg" /></li>
                  			<li data-thumb="images/content/pr-slider/img3.jpg"><img src="images/content/pr-slider/img3.jpg" /></li>
                            <li data-thumb="images/content/pr-slider/img4.jpg"><img src="images/content/pr-slider/img4.jpg" /></li>
                            <li data-thumb="images/content/pr-slider/img5.jpg"><img src="images/content/pr-slider/img5.jpg" /></li>
                            <li data-thumb="images/content/pr-slider/img6.jpg"><img src="images/content/pr-slider/img6.jpg" /></li>
                            <li data-thumb="images/content/pr-slider/img7.jpg"><img src="images/content/pr-slider/img7.jpg" /></li>
                        </ul>
                    </div>        
                </div>
                <div class="three columns omega">
                    <ul class="list-property-detail">
                        <li><span class="left">House Size: </span>120 sqft</li>
                        <li><span class="left">Lot Size: </span>0,19 aqres</li>
                        <li><span class="left">Bedrooms</span> 3</li>
                        <li><span class="left">Bathrooms: </span> 2</li>
                        <li><span class="left">Property Type: </span> Multi Family</li>
                        <li><span class="left">Style: </span>Minimalist</li>
                        <li><span class="left">Year Built: </span>2000</li>
                        <li><span class="left">Price/sqft: </span>$15,833</li>
                        <li><span class="left">Total Rooms: </span>8</li>
                        <li><span class="left">Garage: </span>1</li>                    
                    </ul>
                </div>
                
                <!-- PROPERTY DETAILS -->
                
                <ul class="list-property-detail bottomsection">
                	<li><span class="left txtbold">Property Features: </span><span class="right">Status: Active, Area: Las Vegas, View, 2 convered parking, Cooling Features, Community Security, Lot Features: Back yard, fenced yard, front yard,wall street, other structural features, Parking Features: Gated, Garage Is Detached, Side by side, Country: Las Vegas, Approximately 6000 acre(s), 7 total full bath(s), Pool Features: Heated, 2 car garage(s), View: Pool View, Lot size is 20 or more acres, Zoning: LAR1, Swimming pool(s), Dinning room, Den,Hardwood floors, Living Room.</span></li>
                    <li><span class="left txtbold">Fireplace Features: </span><span class="right">Gas Fuel, LOCATION: Living Room, Master Badroom</span></li><li><span class="left txtbold">Heating Features: </span><span class="right">HEATING TYPE: Central Furnace, Yes</span></li>
                    <li><span class="left txtbold">External Construction: </span><span class="right">Stucco</span></li>
                    <li><span class="left txtbold">Roofing: </span><span class="right">Tile</span></li>
                    <li><span class="left txtbold">Interior Features: </span><span class="right">Built-In Gas Range, Cooktop - Gas, Gas Grill, Microwave, Carpet Flooring, Mixed Flooring Materials, Tile Flooring, 220V Throughout, Crown Moldings, High Ceilings (9 Feet+), Hot Tub, Security System - Owned, DINING ROOM/AREA FEATURES: Breakfast Counter / Bar, Country Kitchen, Formal Dining Rm, Living Room, KITCHEN FEATURES: Counter Top, Island, BATHROOM FEATURES: Dual Entry (Jack & Jill) Bath, BEDROOM FEATURES: Master Suite, LAUNDRY LOCATION: Inside</span></li>
                    <li><span class="left txtbold">Exterior Features: </span><span class="right">Private Spa, Front Sprinkler, Rear Sprinkler, Sprinkler System, Concrete Slab Patio, Deck(s), Enclosed Patio, Porch - Front</span></li>                
                </ul>
                
				<p>Magnis et nec lundium scelerisque risus placerat massa sagittis. Pulvinar! Mus nunc! Amet in integer, etiam augue placerat augue sagittis! Elementum parturient magna porttitor! Scelerisque ac elit mattis, non! Nisi in cras, dapibus sit a phasellus. Mus pulvinar dolor, etiam, nec hac ac risus eu. Facilisis mattis tortor porttitor, scelerisque porta et, enim pellentesque? Porttitor sit, placerat tortor parturient, purus aliquet a, elit integer, adipiscing elementum auctor magnis a! Placerat. Lundium, porttitor duis urna integer, ut ac. Rhoncus, turpis enim tortor, a facilisis nascetur phasellus pulvinar dolor ac magna nec. Nisi et? Augue pid penatibus vel hac eros a risus? Massa habitasse, eu sed etiam! Dictumst nisi porttitor cursus in? Porttitor, integer augue arcu. Dolor eu integer cras egestas parturient.</p>
                
                <div class="clear"></div><!-- clear float --> 
            </section>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
        
        <!-- FOOTER SIDEBAR -->
        <div id="outerfootersidebar">
        	<div class="container">
                <div id="footersidebarcontainer" class="twelve columns"> 
                    <footer id="footersidebar">
                    <div id="footcol1" class="three columns alpha">
                    <ul>
                        <li class="widget-container">
                            <h2 class="widget-title"><span>About Us</span></h2>
                            <div class="textwidget">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum nisi eu ante mattis sit amet luctus nisl tempus.</p>
								<p>Nulla euismod mollis est vel posuere. Suspendisse potenti.</p>
                            </div>
                        </li>
                    </ul>
                    </div>
                    <div id="footcol2"  class="three columns">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title"><span>Latest Post</span></h2>
                                <ul class="ts-recent-post-widget">
									<li>                                                                       
                                        <img src= "images/content/post-thumb1.jpg" alt=""  class="alignleft scale-with-grid"/>                                                                        
                                        <h3><a href="#">Donec vulputate velit ut turpis vehicula pulvinar.</a></h3>             
                                        <span class="smalldate">September 05, 2012</span>              
                                        <span class="clear"></span>
                                    </li>
                                    <li>                              
                                        <img src="images/content/post-thumb2.jpg" alt=""  class="alignleft scale-with-grid"/>                                                                       
                                        <h3><a href="#"> Sed sodales nisi id enim vestibulum.</a></h3>                  
                                        <span class="smalldate">September 05, 2012</span>              
                                        <span class="clear"></span>
                                    </li>
                                 </ul>
                            </li>
                        </ul>
                    </div>
                    <div id="footcol3"  class="three columns">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title"><span>Categories</span></h2>
                                <ul>
                                    <li><a href="#">House Remodeling</a></li>
                                    <li><a href="#">Minimalist Home</a></li>
                                    <li><a href="#">Luxury Home</a></li>
                                    <li><a href="#">Modern Home</a></li>
                                    <li><a href="#">Naturalis Home</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div id="footcol4" class="three columns omega">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title"><span>Street Address</span></h2>
                                PureParadise -- Blvd No. 356-357. <br/>
                                Farmville Town, LA 12345<br/>
                                Telp: +62 500 800 123<br/>
                                Fax: +62 500 800 112<br/>
                                Email: <a href="mailto:testmail@yourdomain.com" class="colortext">testmail@yourdomain.com</a><br/>
                                Website: <a href="http://www.templatesquare.com" class="colortext">www.templatesquare.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    </footer>
                </div>
            </div>
        </div>
        <!-- END FOOTER SIDEBAR -->

	</div><!-- end outercontainer -->
</div><!-- end bodychild -->

        
        <!-- FOOTER -->
        <div id="outerfooter">
            <div class="container">
                <div id="footercontainer" class="twelve columns">
                    <footer id="footer">Copyright &copy;2011-2012 PureParadise Design by	<a href="http://templatesquare.com" title="" class="colortext">
                    TemplateSquare.com</a>
                </footer>
                </div>
            </div>
        </div>
        <!-- END FOOTER -->

<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/jquery-easing-1.3.js"></script>

<!-- jQuery Superfish -->
<script type="text/javascript" src="js/hoverIntent.js"></script> 
<script type="text/javascript" src="js/superfish.js"></script> 
<script type="text/javascript" src="js/supersubs.js"></script>

<!-- jQuery Dropdown Mobile -->
<script type="text/javascript" src="js/tinynav.min.js"></script>

<!-- Custom Script -->
<script type="text/javascript" src="js/custom.js"></script>


<!-- Property Slider -->
<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
jQuery(window).load(function() {
    jQuery('#propertyimage').flexslider({
	  animation: "slide",
	  directionNav: false,
	  controlNav: "thumbnails"
	});
});
</script>

</body>
</html>
